
body
{
    background-color: rgb(176, 209, 198);    
    
}





h1 { 
    border: 2px solid rgb(100, 22, 22);      
    text-align-last:center;
    color: blue;
    padding: 30px;
    font-size: 50px;
    font-family:'Times New Roman'; 
          
}


div{
 size: 20px;  
}




